@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr{
    @apply block
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.Toastify__toast--error {
  background-color: white !important; /* White background */
  color: #2563eb !important; /* Tailwind blue-600 text */
  border: 1px solid #3b82f6 !important; /* Optional blue border */
  box-shadow: 0 2px 8px rgba(59, 130, 246, 0.3);
}
.Toastify__toast--error .Toastify__close-button:hover {
  color: #1d4ed8 !important;                 /* Darker blue on hover */
}